i{
    color: black;
}

.main-header{
    padding-top: 1rem;
    width: 100%;
    height: 80px;
    background-color: #F7BA01;
    .logo{
        i{
            animation: gear 5s linear infinite;
            font-size: 30px;
        }
    }
    @keyframes gear {
        0%{
            transform: rotate(0deg);
            }
        100%{
            transform: rotate(360deg);
           }
        
    }
    .right-header{
        
        .theme{
            font-weight: bold;
            padding-right: 31rem;
            font-size: 30px;
        }
    }
}
#Parts{
    .card{
        .card-img-top{
            height: 250px;
            width: 280px;
        }
    }
}